{% extends 'mainApp/wrapper.html' %}
{% load static %}
{% block title %}{{ info.name }} - О нас{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'mainApp/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">О нас</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>О нас <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url({% static 'mainApp/images/about_us2.jpg' %});">
					</div>
					<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
                        <div class="heading-section mb-5">
                            <div class="pl-md-5 ml-md-5 pt-md-5">
                                <span class="subheading mb-2">Добро пожаловать в {{ info.name }}</span>
                                <h2 class="mb-2" style="font-size: 32px;">Стамотология, которая превыше всего ставит заботу о своих клиентах и комфорт для их обслуживания.</h2>
                            </div>
	                    </div>
	                    <div class="pl-md-5 ml-md-5 mb-5">
						    {{ info.description }}
						    <div class="founder d-flex align-items-center mt-5">
							    <div class="img" style="background-image: url({{ info.cheff_photo.url }});"></div>
							    <div class="text pl-3">
								    <h3 class="mb-0">{{ info.cheff_name }}</h3>
								    <span class="position">Дантист, Основатель</span>
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
			</div>
		</section>
{% endblock %}