{% extends 'mainApp/wrapper.html' %}
{% block title %}Список не готовых анализов{% endblock %}

{% block content %}

    {% for analys in analys_list %}
		<ul class="list-group mt-2 mb-2 mr-4 ml-4 thin-border-gradient">
			<li class="list-group-item"><b>Анализы на</b> {{ analys.type.name }}</li>
			<li class="list-group-item"><b>Принадлежат:</b> {{ analys.person_full_name }}</li>
            <li class="list-group-item"><b>Дата рождения:</b> {{ analys.person_date_of_birth }}</li>
			<li class="list-group-item"><b>Сданы:</b> {{ analys.analys_datetime }}</li>
            <li class="list-group-item"><a href="{% url 'update_analys' slug=analys.slug id=analys.id %}" class="btn btn-primary">Изменить данные</a></li>
			<li class="list-group-item"><a href="{% url 'analys_info' slug=analys.slug id=analys.id %}" class="btn btn-success">Просмотреть данные</a></li>
		</ul>
	{% endfor %}
	<div style="display:flex; justify-content: center; margin-bottom: 5px">
		{% load bootstrap4 %}
		{% bootstrap_pagination analys_list pages_to_show=5 %}
	</div>

{% endblock %}